.inline-button {
	display: inline-block;
	height: 50%;
	vertical-align: middle;
	padding-right: 25px;
}

.header {
	background-color: #005bbb;
	color: White;
	height: max(5vh, 64px);
	width: 100vw;
	align-items: center;
}

.logo {
	margin-left: 15px;
	font-size: xxx-large;
}


body {
	margin: 0px;
}

a {
	color: inherit !important;
	text-decoration: none !important;
}

.split-view {
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	height: calc(100vh - max(10vh, 64px));
	background-color: cadetblue;
}

.logo-big {
	background-color: Gray;
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
}

.logo-big > img {
	max-width: -webkit-fill-available;
	align-items: center;
	/* padding-top: max(100px, 10vh);
	padding-bottom: max(100px, 10vh); */
	vertical-align: middle;
}

.thingy {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}

.login-form {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: Whitesmoke;
	width:50%;
}

.login-form > form {
	margin-left: 20%;
}

form > input[type=submit] {
	margin-top: 20px;
}

.main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
	background: lightgrey;
    height: 100%;
  }

.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 200px;
	position: fixed;
	left: 0;
	background-color: gray; 
	padding-top: 30px;
	display: block;
}

.sidenav a {
	padding: inherit;
	font-size: 25px;
	color: white;
	display: block;
  }

.mainback{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 20%;
    padding-left: inherit;
	font-size: x-large;
}

.mainnew{
	background-color: gray;
    color: black;
}

.maincreate{
	background-color: gray;
    color: black;
	padding: 20;
}

.mainspace{
	padding: 20;
}

.columns{
	float: left;
    width: max-content;
    padding: 20;
    height: -webkit-fill-available;
    vertical-align: top;
	background-color: #ccc;
}

.newlogo{
	margin-left: 240px;
	font-size: xxx-large;
}

.mainbackproject{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-left: inherit;
	font-size: x-large;
}

.profile-form { 
	margin: 0 auto; 
	width:600px;
	text-align: center;
}

.image-center {
	display: block;
	justify-content: center;
}

.image {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 100px;
	height: 100px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.rows {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
    padding: 50px;
}