.inline-button {
	display: inline-block;
	height: 50%;
	vertical-align: middle;
	padding-right: 25px;
}

.header {
	background-color: #005bbb;
	color: White;
	height: max(5vh, 64px);
	width: 100vw;
	align-items: center;
}

.logo {
	margin-left: 15px;
}


body {
	margin: 0px;
}

a {
	color: inherit !important;
	text-decoration: none !important;
}

.split-view {
	width: 100%;
	align-items: center;
	display: flex;
	height: calc(100vh - max(10vh, 64px));
	background-color: cadetblue;
}

.logo-big {
	background-color: Gray;
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
}

.logo-big > img {
	max-width: 25%;
	align-items: center;
	padding-top: max(100px, 10vh);
	padding-bottom: max(100px, 10vh);
	vertical-align: middle;
}

.thingy {
	vertical-align: middle;
	display: inline-block;
	height: 100%;
}

.login-form {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: Whitesmoke;
	width:50%;
}

.login-form > form {
	margin-left: 20%;
}

form > input[type=submit] {
	margin-top: 20px;
}

.profile-form { 
	margin: 0 auto; 
	width:600px;
	text-align: center;
}

.image-center {
	display: block;
	justify-content: center;
}

.image {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 100px;
	height: 100px
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
	border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}