services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - db
    volumes:
      - .:/opt/scrumhub
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - ./initdb.sql:/docker-entrypoint-initdb.d/init_db.sql
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"