<html>
	<head>
	<title>New Project</title>
	 <link rel="stylesheet" href="/static/main.css"/>

	</head>

	<body>

		<div class = "header">

			<!-- Logo on top left corner. Plain text for now -->

			<div class="sidenav">
                <a href="/profile" style="text-align: center;">{{name}}</a>
				<a href="duedate" style="text-align: center;">Due Dates</a>
				<a href="mytasks" style="text-align: center;">My Tasks</a>
				<a href="/my_projects" style="text-align: center;">My Projects</a>
				<a href="#" style="text-align: center;">Meetings Tool</a>
                <a href="/profile" style="padding-top:300%;text-align: center;">Settings</a>
            </div>

			<div class="newlogo">
			Scrum Hub
			</div>

		</div>

	<div class = "main">
		

        <div class="mainback">
            <div class="maincreate">
                {% set action = '/projectCreate' %}
                <form action= {{ action }} method="POST">
                    <div class="mainspace">
                        <label for="projectName">Project Name</label><br/>
					    <input type="text" id="projectName" name="projectName" required><br/>
                    </div>
					<div class="mainspace">
						<input type="submit" value="Essay">
					</div>
					<div class="mainspace">
						<input type="submit" value="Book">
					</div>
					<div class="mainspace">
						<input type="submit" value="Code">
					</div>
				</form>
            </div>
        </div>

	</div>

	
	</body>

</html>