<html>
	<head>
	<title>New Project</title>
	 <link rel="stylesheet" href="/static/main.css"/>

	</head>

	<body>

		<div class = "header">

			<!-- Logo on top left corner. Plain text for now -->

			<div class="sidenav">
				<a href="/profile" style="text-align: center;">{{name}}</a>
				<a href="#" style="text-align: center;">Due Dates</a>
				<a href="#" style="text-align: center;">My Tasks</a>
				<a href="#" style="text-align: center;">Meetings Tool</a>
				<a href="#" style="padding-top:300%;text-align: center;">Settings</a>
            </div>

			<div class="newlogo">
			Scrum Hub
			</div>

		</div>

	<div class = "main">
		

        <div class="mainback">
            <div class="maincreate">
                <div>
					<div class="mainspace">
						<a href="projectCreate">
							<button>Essay</button>
						</a>
					</div>
					<div class="mainspace">
						<a href="projectCreate">
							<button>Book</button>
						</a>
					</div>
					<div class="mainspace">
						<a href="projectCreate">
							<button>Code</button>
						</a>
					</div>
				</div>
            </div>
        </div>

	</div>

	
	</body>

</html>