<html>
	<head>
	<title>{{title}}</title>
	 <link rel="stylesheet" href="/static/main.css"/>

	</head>

	<body>

		<div class = "header">

			<!-- Logo on top left corner. Plain text for now -->

			<div class="sidenav">
                <a href="/profile" style="text-align: center;">{{name}}</a>
				<a href="#" style="text-align: center;">Due Dates</a>
				<a href="mytasks" style="text-align: center;">My Tasks</a>
				<a href="#" style="text-align: center;">Meetings Tool</a>
				<a href="#" style="padding-top:300%;text-align: center;">Settings</a>
            </div>

			<div class="newlogo">
			Scrum Hub
			</div>


			<!-- Navigation buttons on top right corner. "Log In" and "Sign Up" -->			
			
			<!-- <div style = "float:right">
				<div class = "inline-button"> 
					<a href="#"> Add  Collaborator</a>
				</div>
			</div> -->
		</div>

	<div class = "main">
		<!-- <h2>Due Dates</h2> -->
        <div class = "rows" style="background-color:#ccc;">
            <h2>Due Dates</h2>
            {{due |safe}}
        </div>
        <!-- <div class="mainback">
            <div class="mainnew">
                <a href="crproject">Create New Project</a>
            </div>
        </div> -->

	</div>

	
	</body>

</html>