<html>
<head>
    <title>File Viewer</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<div class="header">
    <!-- Logo on top left corner. Plain text for now -->
    <div class="sidenav">

        <a href="/profile" style="text-align: center;">{{ name }}</a>
        <a href="duedate" style="text-align: center;">Due Dates</a>
        <a href="mytasks" style="text-align: center;">My Tasks</a>
        <a href="#" style="text-align: center;">Meetings Tool</a>
        <a href="/profile" style="padding-top:300%;text-align: center;">Settings</a>
        <!-- <a href="#" style="padding-top:300%;text-align: center;">Settings</a> -->
    </div>

    <div class="newlogo">
        Scrum Hub

    </div>
</div>

<div class="main">
    <div class="mainback">
        <div class="maincreate">
            <ul>
                <li><h4><b>Directory</b></h4></li>
                {% for dir in dirnames %}
                    <li>{{ dir }}</li>
                {% endfor %}
                {% for file in filenames %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</body>
</html>