<html>
	<head>
	<title>{{title}}</title>
	 <link rel="stylesheet" href="/static/main.css"/>

	</head>

	<body>

		<div class = "header">

			<!-- Logo on top left corner. Plain text for now -->

			<div class="logo">
				Scrum Hub
				<a href="/login" style="float:right;font-size: large;padding: 20"> Log in </a>
				<a href="/register" style="float:right;padding-right: 20;font-size: large;padding: 20"> Sign up </a>
			</div>


			<!-- Navigation buttons on top right corner. "Log In" and "Sign Up" -->			
			
			<!-- <div style = "float:right">
				<div class = "inline-button"> 
					<a href = "/login"> Log in </a>
				</div>

				<div class = "inline-button">
					<a href = "/register"> Sign up </a>
				</div>
			</div> -->
		</div>

	<div class = "split-view">
		<div class = "logo-big">
	
			<!-- Centering images is hard, this is a workaround. -->
			<span class="thingy"></span><img src = "static/logoPlaceholder.png" />

		</div>

		<div class = "login-form">
				{% if title == 'Sign Up' %}
					{% set action = '/registerRequest' %}
				{% elif title == 'Log In' %}
					{% set action = '/login' %}
				{% endif %}

			
			<p>
				{{feedback}}
			</p>

			<form action = {{ action }} method = "POST">
				
				{% if title == 'Sign Up' %}
					<label for="firstName">First Name:</label><br/>
					<input type="text" id="firstName" name="firstName" required><br/>
  					<label for="lastName">Last Name:</label><br/>
  					<input type="text" id="lastName" name = "lastName" required><br/>
				{% endif %}
				
				<label for="email">Email address:</label><br/>
				<input type="text" id="email" name="email" required><br/>
  				<label for="password">Password:</label><br/>
  				<input type="password" id="password" name="password" required><br/>

				{% if title == 'Sign Up' %}
					<label for="passwordConfirm">Confirm Password:</label><br/>
					<input type="password" id="passwordConfirm" name="passwordConfirm" required><br/>
				{% endif %}

				<input type="submit" value="Submit">

			</form>		

		</div>
	</div>

	
	</body>

</html>