<html>
	<head>
	<title>New Task</title>
	 <link rel="stylesheet" href="/static/main.css">

	</head>

	<body>

		<div class = "header">

			
            <div class="sidenav">
                	<a href="/profile" style="text-align: center;">{{name}}</a>
			<a href="#" style="text-align: center;">Due Dates</a>
			<a href="#" style="text-align: center;">Tasks</a>
			<a href="#" style="text-align: center;">Meetings Tool</a>
			<a href="#" style="padding-top:300%;text-align: center;">Settings</a>
            </div>
			<!-- Logo on top left corner. Plain text for now -->
			<div class="newlogo">
			Scrum Hub
			</div>

            

		</div>
    
	<div class = "main">
        <div class="mainback">
            <div class="maincreate">
		
        <form action = "/project/newTask" method = "POST" enctype="multipart/form-data">
				
            <label for="title" style="color:white;">Title</label><br/>
            <input type="text" style="background-color:#ccc;" id="title" name="title" required><br/>

            <label for="description" style="color:white;">Description:</label><br/>
            <input type="text" style="background-color:#ccc;" id="description" name="description" required><br/>

            <label for="label" style="float:right;color:white;">Label</label><br/>
            <input type="text" size="4" style="float:right;background-color:#ccc;" id="label" name="label" required><br/>

            <label for="assignee" style="float:right;color:white;">Assignee</label><br/>
            <input type="text" size="8" style="float:right;background-color:#ccc;" id="assignee" name="assignee" required><br/>

            <label for="due" style="float:right;color:white;" >Due Date</label><br/>
            <input type="date" style="float:right;background-color:#ccc;" id="due" name="due" required><br/>

            <input type="submit" value="Submit">

        </form>	
            </div>
        </div>

	</div>



<script src="../static/project.js"></script>
</body>

</html>