<head>
    <title>Profile</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>

<div class="header">

    <!-- Logo on top left corner. Plain text for now -->

    <div class="sidenav">
        <a href="/profile" style="text-align: center;">Profile</a>
        <!-- <a href="duedate" style="text-align: center;">Due Dates</a>
        <a href="mytasks" style="text-align: center;">My Tasks</a> -->
        <a href="/my_projects" style="text-align: center;">My Projects</a>
        <a href="/project/files" style="text-align: center;">Files</a>
        <!-- <a href="#" style="text-align: center;">Meetings Tool</a> -->
    </div>

    <div class="newlogo">
        Scrum Hub
        <!-- <a href="/login" style="float:right;font-size: large;padding: 20"> Log in </a>
      <a href="/register" style="float:right;padding-right: 20;font-size: large;padding: 20"> Sign up </a> -->
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}

<div class="main">


    <div class="mainbackpr">


        <div style="text-align: center;">
            <img src="static/default-avatar.png" alt="Profile Picture" class="image">
            <button>Change Picture</button>
        </div>

        <div style="text-align: center;">
            <br>
            <form action="/profile" method="POST">
                <label for="text-form-fname">First Name: </label>
                <input id="text-form-fname" type="text" name="fname"><br>

                <label for="text-form-lname">Last Name: </label>
                <input id="text-form-lname" type="text" name="lname"><br>

                <label for="text-form-email">E-mail: </label>
                <input id="text-form-email" type="text" name="email"><br>

                <label for="text-form-password">Password: </label>
                <input id="text-form-password" type="password" name="password"><br>

                <label for="text-form-cpass">Confirm Password: </label>
                <input id="text-form-cpass" type="password" name="cpass"><br>

                <input type="submit" value="Save Changes">
            </form>
        </div>
    </div>
</div>
</body>

</html>