<html>
	<head>
	    <title>{{title}}</title>
	    <link rel="stylesheet" href="/static/main.css">
	</head>

	<body>
        
        <button class="modal-btn" href="#modal1" style="float: right;font-size: large;padding: 20;">Add Collaborator</button>        
        <div id="modal1" class="modal-bg">
            <div class="modal">
                <h2>Invite a collaborator</h2>
                <form action="/addCollab" method="POST">
                    <label for="email">Email: </label>
                    <input type="email" name="email" required>
                    
                    <input type="submit" class="modal-btn" value="Add">
                </form>
                
                <span class="modal-close">X</span>
            </div>
        </div>

        <button class="modal-btn" href="#modal2" style="float: right;font-size: large;padding: 20;">View Collaborators</button>
        <div id="modal2" class="modal-bg">
            <div class="modal">
                <h2>Collaborators:</h2>
                {{collaborators | safe}} 
                <span class="modal-close">X</span>
            </div>
        </div>

		<div class = "header">
			<!-- Logo on top left corner. Plain text for now -->
            <div class="sidenav">

                <a href="/profile" style="text-align: center;">{{name}}</a>
				<a href="duedate" style="text-align: center;">Due Dates</a>
				<a href="mytasks" style="text-align: center;">My Tasks</a>
				<a href="#" style="text-align: center;">Meetings Tool</a>
				<!-- <a href="#" style="padding-top:300%;text-align: center;">Settings</a> -->
            </div>

			<div class="newlogo">
			    Scrum Hub
				<a href="/project/fileUpload" style="float:right;font-size: large;padding: 20"> Add a File </a>
				<a href="/project/newIssue" style="float:right;font-size: large;padding: 20"> Create an Issue </a>
            </div>
		</div>

	    <div class = "main">
            <div class="mainbackproject">
                <!-- <div class="mainnew">
                    <a href="crproject">Create New Project</a>
                </div> -->
                
                <div class = "columns" style="background-color:#ccc;">
                    <h2>Backlog</h2>
                    {{btasks |safe}}
                </div>
                <div class = "columns" style="background-color:#ccc;">
                    <h2>Planned</h2>
                </div>
                <div class = "columns" style="background-color:#ccc;">
                    <h2>In Progress</h2>
                </div>
                <div class = "columns" style="background-color:#ccc;">
                    <h2>Testing</h2>
                </div>
                <div class = "columns" style="background-color:#ccc;">
                    <h2>Completed</h2>
                </div>
                <div class = "columns" style="background-color:#ccc;">
                    <h2>Closed</h2>
                </div>

	            <div class = "columns" style="background-color:#ccc;">
                    <h2>Uploaded Files</h2>
		            {{files | safe}}
                </div>
            </div>
    	</div>        
        
        <script src="../static/project.js"></script>
        <script type="text/javascript" src="../static/modal.js"></script>

    </body>

</html>